body{
    font-family: 'Poppins', sans-serif;
}
.top-nav{
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    text-align: right;
    margin-bottom: 50px;
}
.nav-link{
    text-decoration: none;
    padding: 60px 20px;
    border-radius: 10px;
    color: orangered;
    font-size: 20px;
    font-weight: 900;

}
h1{
    font-size: 50px;
}
span{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 140px;
}
.half-width{
    width: 50%;
    padding-left: 3px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: radial-gradient(#FB9049, #FD4D30);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    position: relative; top: 40px;
}
.flexible-box{
    display: flex;
    margin-bottom: 140px;
}
.perfect-width{
    width: 50%;
}
.perfect-width img{
    width: 70%;
}
#img-position{
    margin-left: 20%;
}
#text-position{
    margin-right: 20%;
}
.mid-background-img{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.recipe-area{
    text-align: center;
}
.flexible-item{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    
}
.recipie-item{
    box-shadow:5px 10px 15px 3px rgb(161, 172, 163);
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 25px;
}
.recipie-item img{
    width: 100%;
}
.recipie-item h3{
    font-size: bold;
    
}