body{
    font-family: 'Poppins', sans-serif;
}
.top-nav{
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    text-align: right;
    margin-bottom: 50px;
}
.nav-link{
    text-decoration: none;
    padding: 60px 20px;
    border-radius: 10px;
    color: green;
    font-weight: 800;

}
h1{
    font-size: 50px;
}
span{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 140px;
}
.half-width{
    width: 50%;
    padding-left: 3px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: radial-gradient(#FB9049, #FD4D30);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    margin-top: 50px;
}
.flexible-box{
    display: flex;
    margin-bottom: 140px;
}
.perfect-width{
    width: 50%;
}
.perfect-width img{
    width: 70%;
}
#img-position{
    margin-left: 20%;
}
#text-position{
    margin-right: 20%;
}
.mid-background-img{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}